@use "@/styles/theme.scss" as *;

.gov-table-wrap {
	width: 100%;
	border: 1px solid var(--gov-border-color-3);
	overflow: hidden;
}

.gov-table {
	display: table;
	width: calc(100% + 2px);
	border-collapse: collapse;
	margin: 0;
	overflow: auto;
	color: var(--gov-text-color-2);
	font-size: 14px;
	margin: -1px;
	border-top: 1px solid var(--gov-border-color-3);

	&-tr {
		border: none;
		background-color: #fff;
		&:nth-child(2n) {
			background-color: #fff;
		}
		&:hover {
			td,
			th {
				transition: background-color 0.5s;
				background-color: var(--gov-fill-color-5);
			}
		}
	}

	&-th,
	&-td {
		border: 1px solid var(--gov-border-color-3);
		padding: 10px 8px;
		text-align: left;
		background-color: #fff;
		&.align-center {
			text-align: center;
		}
		&.align-left {
			text-align: left;
		}
		&.align-right {
			text-align: right;
		}
		&-indexed,
		&-selection {
			width: 0;
			white-space: nowrap;
			padding: 0 15px;
			text-align: center;
		}
	}
	&-th {
		text-align: left;
		font-weight: 600;
		border: 1px solid var(--gov-border-color-3);
		border-top: none;
		background-color: var(--gov-fill-color-3);
		color: var(--gov-text-color);
	}

	// 定位
	&-column--fixed-left,
	&-column--fixed-right {
		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 1px;
			top: 0;
			bottom: 0;
			height: 100%;
			background-color: var(--gov-border-color-3);
		}
		&::before {
			left: -1px;
		}
		&::after {
			right: -1px;
		}
	}
	&-column--fixed-left {
		position: sticky;
		left: 0;
		z-index: 998;
		&.is-fixed-left-last::after{
			box-shadow: 0 0 10px rgba(0, 0, 0, .3);
		}
	}
	&-column--fixed-right {
		position: sticky;
		right: 0;
		z-index: 998;
		&.is-fixed-right-first::before{
			box-shadow: 0 0 10px rgba(0, 0, 0, .3);
		}
	}

	// 排序
	&-arrow {
		display: inline-flex;
		flex-direction: column;
		align-items: center; // 使箭头在中间对齐
		vertical-align: middle;
	}
	&-arrow-up,
	&-arrow-down {
		display: inline-block;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		cursor: pointer;
	}

	&-arrow-up {
		border-bottom: 5px solid var(--gov-text-color);
		&.active {
			border-bottom: 5px solid var(--gov-primary);
		}
	}

	&-arrow-down {
		margin-top: 4px;
		border-top: 5px solid var(--gov-text-color);
		&.active {
			border-top: 5px solid var(--gov-primary);
		}
	}

	&-th {
		&.gov-table-arrow-up,
		&.gov-table-arrow-down {
			margin-left: 5px;
		}
	}

	// 斑马线
	&.is-striped {
		tbody tr:nth-child(2n) {
			background-color: #f9f9f9;
		}
	}

	// 表头固定
	&.is-fixed {
		display: block;
		width: calc(100% + 2px);
		thead {
			position: sticky;
			top: 0;
			z-index: 999;
		}
	}
}
