@use "@/styles/theme.scss" as *;
@use "./type.scss" as *;

@mixin button-size($size) {
	padding: var(--gov-button-#{$size}-padding);
	font-size: var(--gov-#{$size}-font-size);
	border-radius: var(--gov-border-radius-base);
	&.is-round {
		padding: var(--gov-button-#{$size}-padding);
		border-radius: 20px;
	}
	&.is-circle{
		border-radius: 50%;
    	padding: var(--gov-button-#{$size}-padding-v);
	}
}


.gov-button {
	display: inline-block;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	background: #fff;
	border: 1px solid var(--gov-border-color-3);
	color: var(--gov-text-color);
	text-align: center;
	box-sizing: border-box;
	outline: none;
	margin: 0;
	transition: 0.1s;
	font-weight: normal;
	user-select:none;

	// 结构组合
	& + & {
		margin-left: 10px;
	}

	& [class*="gov-icon-"] {
		& + span {
			margin-left: 5px;
		}
	}

	// 形状
	@include button-size(default);
	&--size-large {
		@include button-size(large);
	}
	&--size-default {
		@include button-size(default);
	}
	&--size-small {
		@include button-size(small);
	}

	// 类型，default单独定义
	&--default {
		@include button-default(primary);
	}
	&--primary {
		@include button-type(primary);
	}
	&--success {
		@include button-type(success);
	}
	&--info {
		@include button-type(info);
	}
	&--warning {
		@include button-type(warning);
	}
	&--danger {
		@include button-type(danger);
	}

	// 文本类型
	&--text{
		border-color: transparent;
		color: var(--gov-primary);
		background: transparent;
		padding-left: 0;
		padding-right: 0;

		&:hover,
		&:focus {
			color: var(--gov-primary);
			border-color: transparent;
			background-color: transparent;
		}
		&:active {
			color: var(--gov-primary-3);
			border-color: transparent;
			background-color: transparent;
		}

		&.is-disabled,
		&.is-disabled:hover,
		&.is-disabled:focus {
			border-color: transparent;
		}
		&.is-disabled{
			cursor: not-allowed;
			color: var(--gov-text-color-6);
		}
	}

}
