@mixin button-size($size) {
	padding: var(--gov-button-#{$size}-padding);
	font-size: var(--gov-#{$size}-font-size);
	border-radius: var(--gov-border-radius-base);
	&.is-round {
		padding: var(--gov-button-#{$size}-padding);
		border-radius: 20px;
	}
	&.is-circle{
		border-radius: 50%;
    	padding: var(--gov-button-#{$size}-padding-v);
	}
}
