@use "@/styles/theme.scss" as *;


@mixin button-size($size) {
	padding: var(--gov-button-#{$size}-padding);
	font-size: var(--gov-#{$size}-font-size);
}


.gov-radio-button {
	position: relative;
	display: inline-block;
	outline: none;

	&__inner {
		display: inline-block;
		line-height: 1;
		white-space: nowrap;
		vertical-align: middle;
		background: #fff;
		border: 1px solid var(--gov-border-color-3);
		color: var(--gov-text-color);
		border-left: 0;
		text-align: center;
		box-sizing: border-box;
		outline: none;
		margin: 0;
		position: relative;
		cursor: pointer;

		&:hover {
			color: var(--gov-primary);
		}
		@include button-size(default);
	}

	// 大小
	&--size-large  {
		.gov-radio-button__inner{
			@include button-size(large);
		}
	}
	&--size-default {
		.gov-radio-button__inner{
			@include button-size(default);
		}
	}
	&--size-small {
		.gov-radio-button__inner{
			@include button-size(small);
		}
	}

	// 圆角
	&:first-child {
		.gov-radio-button__inner {
			border-left: 1px solid var(--gov-border-color-3);
			border-radius: var(--gov-border-radius-base) 0 0 var(--gov-border-radius-base);
			box-shadow: none !important;
		}
	}

	&:last-child {
		.gov-radio-button__inner {
			border-radius: 0 var(--gov-border-radius-base) var(--gov-border-radius-base) 0;
		}
	}

	&:first-child:last-child {
		.gov-radio-button__inner {
			border-radius: var(--gov-border-radius-base);
		}
	}

	&__orig-radio {
		opacity: 0;
		outline: none;
		position: absolute;
		z-index: -1;

		&:checked {
			& + .gov-radio-button__inner {
				color: #fff;
				background-color: var(--gov-primary);
				border-color: var(--gov-primary);
			}
		}

		&:disabled {
			& + .gov-radio-button__inner {
				color: var(--gov-text-color-5);
				cursor: not-allowed;
				background-image: none;
				background-color: #fff;
				border-color: var(--gov-border-color-5);
				box-shadow: none;
			}
			&:checked + .gov-radio-button__inner {
				color: #fff;
				background-color: var(--gov-primary-5);
				border-color: var(--gov-primary-5);;
			}
		}
	}
}
