@use "@/styles/theme.scss" as *;

.gov-textarea {
	position: relative;
	display: inline-block;
	line-height: 0;
	width: 100%;

	&__input {
		position: relative;
		width: 100%;
		background-color: white;
		border: 1px solid var(--gov-border-color);
		padding: 10px;
		overflow-y: auto;
		border-radius: var(--gov-border-radius-base);
		line-height: 1.5;
		box-sizing: border-box;
		background: #fff;
		// 它或它的后代获得焦点。
		&:focus-within,&:hover {
			border-color: var(--gov-border-color-dark);
			outline: 0;
		}
	}
	&__footer {
		position: absolute;
		bottom: 1px;
		left: 1px;
		right: 5px;
		height: 20px;
		line-height: 20px;
		text-align: right;
		font-size: 12px;
		color: var(--gov-text-color-5);
		background-color: white;
		padding: 0 3px;
		border-radius: var(--gov-border-radius-base);
	}
	&.is-resize {
		.gov-textarea__footer {
			right: 8px;
		}
	}
	&.is-disabled &__input{
		cursor: not-allowed;
		background: var(--gov-fill-color-5);
	}

	&.is-error &__input{
		border-color: var(--gov-primary);
	}

	&__clear-btn {
		cursor: pointer;
		margin-left: 8px;
		color: var(--gov-primary);
	}
}
