@use "@/styles/theme.scss" as *;

.gov-checkbox {
	margin-right: var(--gov-checkbox-radio-gutter);
	font-size: var(--gov-default-font-size);
	cursor: pointer;
	display: inline-flex;
	justify-content: left;
	align-items: center;
	position: relative;
	@include utils-user-select(none);

	&:last-child {
		margin-right: 0;
	}

	&.is-disabled{
		cursor: not-allowed;
	}

	&__label {
		color: var(--gov-text-color);
		vertical-align: middle;
	}

	&__original {
		vertical-align: middle;
		width: 14px;
        height: 14px;
		margin:0 5px 0 0;
        position: relative;
		appearance: none;
		border: 1px solid var(--gov-border-color);
		border-radius: 3px;
		font-weight: bold;
		text-align: center;
		background:#fff;

		&:before{
			content: "";
			box-sizing: border-box;
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%);
			top:50%;
			width: 8px;
			height: 8px;
			line-height:9px;
			overflow: hidden;
			cursor: pointer;
		}

		&.is-indeterminate{
			accent-color: var(--gov-primary);
			border: 1px solid var(--gov-primary);
			background: var(--gov-primary);
			& + .gov-checkbox__label {
				color: var(--gov-primary);
			}
			&:before, &:checked:before{
				content: "一";
				color: #fff;
			}
		}

		&:checked {
			accent-color: var(--gov-primary);
			border: 1px solid var(--gov-primary);
			background: var(--gov-primary);
			& + .gov-checkbox__label {
				color: var(--gov-primary);
			}
			&:before {
				content: "\2713";
				color: #fff;
			}
		}

		&:disabled {
			cursor: not-allowed;
			border: 1px solid var(--gov-border-color-1);
			background: var(--gov-fill-color-5);
			& + .gov-checkbox__label {
				color: var(--gov-text-color-5);
			}
			&:checked{
				& + .gov-checkbox__label {
					color: var(--gov-text-color-5);
				}
			}
			&:before {
				color: var(--gov-text-color-5);
				cursor: not-allowed;
			}
		}
	}

	// 尺寸
	&--large,
	&--default,
	&--small {
		padding: 0 15px 0 8px;
		border: 1px solid var(--gov-border-color);
		border-radius: var(--gov-border-radius-base);
		&:has(.gov-checkbox__original:checked) {
			border-color: var(--gov-primary);
		}
		&:has(.gov-checkbox__original:disabled) {
			border-color: var(--gov-border-color);
		}
	}

	&--large {
		font-size: var(--gov-large-font-size);
		height: var(--gov-checkbox-radio-large-height);
	}
	&--default {
		font-size: var(--gov-default-font-size);
		height: var(--gov-checkbox-radio-default-height);
	}
	&--small {
		font-size: var(--gov-small-font-size);
		height: var(--gov-checkbox-radio-small-height);
	}

	// Button 模式
	&.is-button {
		border-radius: 0;
		margin: 0;
		padding: 0 15px;
		border: 1px solid var(--gov-border-color);
		margin-left: -1px;
		// 圆角
		&:first-child {
			border-radius: var(--gov-border-radius-base) 0 0 var(--gov-border-radius-base);
		}

		&:last-child {
			border-radius: 0 var(--gov-border-radius-base) var(--gov-border-radius-base) 0;
		}

		// 隐藏复选框
		.gov-checkbox__original {
			opacity: 0;
			outline: none;
			position: absolute;
			z-index: -1;
		}

		// 选中状态
		&:has(.gov-checkbox__original:checked) {
			background-color: var(--gov-primary);
			border-left-color: var(--gov-primary-5);
			& + .is-button {
				border-left-color: var(--gov-primary-5);
			}
			.gov-checkbox__label {
				color: #fff;
			}
		}

		&:has(.gov-checkbox__original:disabled:checked) {
			background-color: var(--gov-primary-5);
			border-color: var(--gov-primary-5);
			border-left-color: var(--gov-border-color-7);
			& + .is-button {
				border-left-color: var(--gov-primary-7);
			}
		}
	}
}
