@use "./icon.scss";

// 设置默认按钮的样式，因为特殊所以单独定义，例如设置为 primary 或者其他风格
@mixin button-default($type) {
	&:hover,
	&:focus {
		color: var(--gov-text-color);
		background: var(--gov-#{$type}-9);
		border: 1px solid var(--gov-#{$type}-5);
	}
	&:active {
		background: var(--gov-#{$type}-8);
		border: 1px solid var(--gov-#{$type}-4);
		outline: none;
	}
	&.is-disabled {
		&,
		&:hover,
		&:focus,
		&:active {
			color: var(--gov-text-color-5);
			background: #fff;
			border: 1px solid var(--gov-border-color-5);
			cursor: not-allowed;
		}
	}
}

// 根据按钮类型生成样式
@mixin button-type($type) {
	color: #fff;
	background: var(--gov-#{$type});
	border: 1px solid var(--gov-#{$type});

	&:hover,
	&:focus {
		background: var(--gov-#{$type}-2);
		border: 1px solid var(--gov-#{$type}-2);
	}

	&:active {
		background: var(--gov-#{$type}-dark);
		border: 1px solid var(--gov-#{$type}-dark);
		outline: none;
	}

	&.is-disabled {
		&,
		&:hover,
		&:focus,
		&:active {
			color: #fff;
			background: var(--gov-#{$type}-5);
			border: 1px solid var(--gov-#{$type}-5);
			cursor: not-allowed;
			&.is-plain{
				color: var(--gov-#{$type}-5);
				background: var(--gov-#{$type}-9);
				border: 1px solid var(--gov-#{$type}-8);
			}
		}
	}

	&.is-plain {
		color: var(--gov-#{$type});
		background: var(--gov-#{$type}-9);
		border: 1px solid var(--gov-#{$type}-5);

		&:hover,
		&:focus {
			color: #fff;
			background: var(--gov-#{$type});
			border: 1px solid var(--gov-#{$type});
		}

		&:active {
			background: var(--gov-#{$type}-dark);
			border: 1px solid var(--gov-#{$type}-dark);
		}
	}
}

// 按钮尺寸
@mixin button-size($size) {
	padding: var(--gov-button-#{$size}-padding);
	font-size: var(--gov-#{$size}-font-size);
	border-radius: var(--gov-border-radius-base);
	&.is-round {
		padding: var(--gov-button-#{$size}-padding);
		border-radius: 20px;
	}
	&.is-circle{
		border-radius: 50%;
    	padding: var(--gov-button-#{$size}-padding-v);
	}
}


.gov-button {
	display: inline-block;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	background: #fff;
	border: 1px solid var(--gov-border-color-3);
	color: var(--gov-text-color);
	text-align: center;
	box-sizing: border-box;
	outline: none;
	margin: 0;
	transition: 0.1s;
	font-weight: normal;
	user-select:none;

	// 结构组合
	& + & {
		margin-left: 10px;
	}

	& [class*="gov-icon-"] {
		& + span {
			margin-left: 5px;
		}
	}

	// 形状
	--gov-button-large-padding-v: 12px;
	--gov-button-large-padding-h: 20px;
	--gov-button-large-padding: var(--gov-button-large-padding-v)
		var(--gov-button-large-padding-h);

	--gov-button-default-padding-v: 10px;
	--gov-button-default-padding-h: 20px;
	--gov-button-default-padding: var(--gov-button-default-padding-v)
		var(--gov-button-default-padding-h);

	--gov-button-small-padding-v: 9px;
	--gov-button-small-padding-h: 15px;
	--gov-button-small-padding: var(--gov-button-small-padding-v)
		var(--gov-button-small-padding-h);

	@include button-size(default);
	&--size-large {
		@include button-size(large);
	}
	&--size-default {
		@include button-size(default);
	}
	&--size-small {
		@include button-size(small);
	}

	// 类型，default单独定义
	&--default {
		@include button-default(primary);
	}
	&--primary {
		@include button-type(primary);
	}
	&--success {
		@include button-type(success);
	}
	&--info {
		@include button-type(info);
	}
	&--warning {
		@include button-type(warning);
	}
	&--danger {
		@include button-type(danger);
	}

	// 文本类型
	&--text{
		border-color: transparent;
		color: var(--gov-primary);
		background: transparent;
		padding-left: 0;
		padding-right: 0;

		&:hover,
		&:focus {
			color: var(--gov-primary);
			border-color: transparent;
			background-color: transparent;
		}
		&:active {
			color: var(--gov-primary-3);
			border-color: transparent;
			background-color: transparent;
		}

		&.is-disabled,
		&.is-disabled:hover,
		&.is-disabled:focus {
			border-color: transparent;
		}
		&.is-disabled{
			cursor: not-allowed;
			color: var(--gov-text-color-6);
		}
	}

}
