


.gov-cascader {
	user-select:none;
	width: 100%;
	.popper{
		padding: 0 !important;
		#arrow{
			transform: translate(50px, 0) !important;
		}
	}

	&__input {
		cursor: pointer;
		.gov-input-field {
			cursor: pointer;
		}
	}
	&__icon {
		transition: all 0.2s;
		&.is-open {
			transform: rotate(180deg);
		}
	}
	&__box {
		background: #fff;
		box-sizing: border-box;
		.gov-cascader-panel{
			border: none;
		}
	}
	&.is-disabled {
		.gov-cascader__input {
			cursor: not-allowed;
			.gov-input-field {
				cursor: not-allowed;
			}
		}
	}
}
