
.gov-dropdown-divided {
	border-top: 1px solid var(--gov-border-color-5);
	height: 0;
	margin: 5px 0;
}
.gov-dropdown-item {
	color: var(--gov-text-color);
	cursor: pointer;
	font-size: 14px;
	&:hover {
		background: var(--gov-primary-9);
		color: var(--gov-primary);
	}
	&.is-disabled {
		cursor: not-allowed;
		color: var(--gov-text-color-5);
	}
	&.is-center {
		text-align: center;
	}

	&,
	&--size-default {
		font-size: 14px;
		padding: 5px 16px;
	}
	&--size-large {
		font-size: 16px;
		padding: 5px 16px;
	}

	&--size-small {
		font-size: 12px;
		padding: 4px 10px;
	}
}
