
.gov-empty{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
	width: 100%;
	font-size: 12px;
	color: var(--gov-text-color-6);
	padding: 20px 0;
	&__wrap{
		&-image{
			display: inline-block;
		}
		&-description{
			line-height: 1;
		}
	}
}
