// 验证动画
.gov-form-validate-fade-enter-active,
.gov-form-validate-fade-leave-active {
	transition: opacity .3s;
}

.gov-form-validate-fade-enter-from,
.gov-form-validate-fade-leave-to {
	opacity: 0;
}

.gov-form-item {
	display: flex;
	flex-direction: row;
	align-items:flex-start;

	// 不同尺寸
	&--size-large &__label {
		font-size: var(--gov-large-font-size);
		height: var(--gov-large-height);
		line-height: var(--gov-large-height);
	}
	&--size-default &__label {
		font-size: var(--gov-default-font-size);
		height: var(--gov-default-height);
		line-height: var(--gov-default-height);
	}
	&--size-small &__label {
		font-size: var(--gov-small-font-size);
		height: var(--gov-small-height);
		line-height: var(--gov-small-height);
	}

	// label内容
	&__label {
		width: 100px;
		text-align: right;
		color: var(--gov-text-color);
		padding: 0 12px 0 0;
		box-sizing: border-box;
		&.is-empty{
			height: 0;
		}
	}
	&--label-left &__label {
		text-align: left;
	}
	&--label-top &__label {
		text-align: left;
		width: 100%;
	}
	&__label-required{
		color:var(--gov-primary);
	}

	// 如果label在顶部
	&--label-top {
		flex-direction: column;
	}

	// 内容
	&__content {
		flex: 1;
		width: 100%;
	}
	&__validate {
		min-height: 12px;
		line-height: 12px;
		font-size: 12px;
		padding: 3px 0 5px;
		color:var(--gov-primary);
	}
}
