@use "./input.scss";
@use "./popper.scss";

.gov-input-number {
	width: 100%;
	box-sizing: border-box;
	display: inline-flex;
	align-items: stretch;
	justify-content: space-between;
	&__input {
		flex-grow: 1;
	}
	&__buttons {
		display: flex;
		align-items: stretch;
		justify-content: space-between;

		div {
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			margin-left: 5px;
			border-radius: var(--gov-border-radius-base);
			border: 1px solid var(--gov-border-color);
			color: var(--gov-text-color);
			font-size: 12px;
			transition: all 0.2s;
			&:hover {
				background-color: var(--gov-primary);
				border-color: var(--gov-primary);
				color: #fff;
			}
			&.is-disabled {
				cursor: not-allowed;
				background: var(--gov-fill-color-5);
				border-color: var(--gov-border-color-5);
				color: var(--gov-text-color-5);
				&:hover {
					border-color: var(--gov-border-color);
				}
			}
		}
	}
}
