
.gov-page-container {
	display: flex;
	flex-direction: column;
	margin-right: auto;
	margin-left: auto;
	max-width: 1200px; // 可以根据需要设置最大宽度
	background: #fff;

	&.is-border {
		border: 1px solid var(--gov-border-color);
	}
	&.is-round {
		border-radius: var(--gov-border-radius-base);
	}
	&__before {
		padding: 5px 20px;
		text-align: center;
		background: var(--gov-fill-color-5);
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
		&-text {
			font-size: 24px;
			font-weight: bold;
		}
		&--underline {
			border-bottom: 1px solid var(--gov-border-color-5);
		}
	}

	&__title-actions {
		display: flex;
		gap: 10px;
	}

	&__content {
		padding: 20px;
	}
}
