.gov-grid-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: var(--justify);
	align-items: var(--align);
	min-width: 0;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.88);
	transition: all 0.3s;
}
