@use "./icon.scss";
@use "./input.scss";
@use "./popper.scss";


.gov-select {
	user-select:none;
	width: 100%;
	position: relative;
	.popper {
		width: 100%;
		#arrow{
			// 当popper设置了100%，popper的 placement 不能准确计算
			transform: translate(50px, 0) !important;
		}
	}
	&__input {
		cursor: pointer;
		.gov-input-field {
			cursor: pointer;
		}
	}
	&__icon {
		transition: all 0.2s;
		&.is-open {
			transform: rotate(180deg);
		}
	}
	&__box {
		background: #fff;
		box-sizing: border-box;
		min-width: 200px;
		max-height: 300px;
	}
	&.is-disabled {
		.gov-select__input {
			cursor: not-allowed;
			.gov-input-field {
				cursor: not-allowed;
			}
		}
	}
}



.gov-select-option {
	user-select:none;
	background: #fff;
	padding: 5px 20px;
	margin: 2px 0;
	cursor: pointer;
	transition: all 0.2s;
	color: var(--gov-text-color);
	font-size: 14px;
	&:hover {
		color: var(--gov-primary);
		background: var(--gov-fill-color-5);
	}
	&.is-selected {
		color: var(--gov-primary);
		background: var(--gov-fill-color-5);
	}
	&.is-disabled {
		color: var(--gov-text-color-5);
		cursor: not-allowed;
		&.is-selected {
			color: var(--gov-primary-5);
		}
	}
}
