// 主题主文件，导出变量，这样其他文件可以引用它们。@forward 是Sass的一个指令，它允许你导入另一个文件的变量和混合（mixins）。
@forward "variables";
@import "./utils.scss";

:root {
	// container
	--gov-aside-width: 200px;
	--gov-footer-height: 60px;
	--gov-header-height: 60px;

	// button
	--gov-button-large-padding: 12px 20px;
	--gov-button-default-padding: 10px 20px;
	--gov-button-small-padding: 9px 15px;
	--gov-button-large-font-size: 14px;
	--gov-button-default-font-size: 14px;
	--gov-button-small-font-size: 12px;
}
