@use "sass:math";
@use "sass:map";
@use "sass:color";

// 主题颜色
$theme-colors: (
	"primary": #e74c3c,
	"success": #27ae60,
	"warning": #f39c12,
	"danger": #8e44ad,
	"info": #909399,
) !default;

// 常用其它颜色
$special-colors: (
	"text-color": #303133,
	"border-color": #cdd0d6,
	"fill-color": #e6e8eb,
) !default;

// 合并两个映射
$colors: map.merge($theme-colors, $special-colors) !default;

:root {
	// 生成不同等级颜色
	@each $color-name, $color-value in $colors {
		--gov-#{$color-name}-dark: #{color.mix(#000, $color-value, 25%)};
		--gov-#{$color-name}: #{$color-value};
		@for $i from 1 through 9 {
			$color-tint: color.mix(white, $color-value, $i * 10%); // 10% - 90%
			--gov-#{$color-name}-#{$i}: #{$color-tint};
		}
	}

	// 常见圆角大小
	--gov-border-radius-base: 5px;

	// 表单控件不同尺寸的常规高度，例如input select Button ...
	--gov-large-height: 40px;
	--gov-default-height: 36px;
	--gov-small-height: 32px;

	// 表单控件不同尺寸字体大小
	--gov-large-font-size: 14px;
	--gov-default-font-size: 14px;
	--gov-small-font-size: 12px;
}
