
.gov-tree {
	&__node {
		cursor: pointer;
	}

	&__label {
		display: flex;
		align-items: center;
		.gov-icon {
			transform: rotate(0);
			transition: all 0.3s;
		}
		&.is-expanded.is-animation {
			.gov-icon {
				transform: rotate(90deg);
			}
		}
	}
	&__slot-box {
		flex: 1;
	}
	&__icon-box {
		display: inline-block;
		width: 14px;
		text-align: center;
		font-size: 14px;
		margin-right: 4px;
	}

	&__children {
		overflow: hidden;
		padding-left: 20px;
	}
}
