
// 使用示例

// @use '@/styles/utils.scss' as *;
// .a{
// @include utils-user-select(none);
// }

// @use '@/styles/utils.scss' as utils;
// .a{
// @include utils.utils-user-select(none);
// }




/**
 * 设置用户选择文本的行为。
 * 这个 mixin 用于控制用户是否能够选择页面上的文字或其他内容。
 * 它包含了针对不同浏览器引擎的前缀，以确保兼容性。
 *
 * @param {string} $value - 指定用户选择行为的值。 可以是 'none'、'text'、'all' 或 'auto'。
 *
 * @example
 *   .some-element {
 *     @include utils-user-select('none'); // 禁止用户选择文本
 *   }
 *
 *   .another-element {
 *     @include utils-user-select('text'); // 允许用户选择文本
 *   }
 */
@mixin utils-user-select($value) {
	-moz-user-select: $value; // Firefox 浏览器的前缀
	-webkit-user-select: $value; // Chrome、Safari 浏览器的前缀
	-ms-user-select: $value; // Edge 浏览器的前缀
	user-select: $value; // 标准属性，无前缀
}

/**
 * 提供一种清除浮动的方法。
 * 这个 mixin 利用伪元素创建了一个清除浮动的解决方案，通常用于确保父元素能够包含其浮动的子元素。
 * 通过在元素前后添加伪元素，并给后面的伪元素设置 `clear: both;`，可以阻止父元素的塌陷。
 *
 * 使用场景：
 *   - 当父元素包含浮动的子元素时，使用这个 mixin 可以防止父元素的高度塌陷。
 *   - 常用于布局容器，确保容器能够正确地包含其浮动的子元素。
 *
 * 注意：
 *   - 这个 mixin 使用了 CSS 的 `table` 显示类型，因为它可以创建一个不可见的、不占用空间的布局上下文。
 *   - 使用这个 mixin 的元素不应该已经有 `display: table;` 或其他表格类型的显示类型，否则可能会产生意外的布局效果。
 *
 * @example
 *   .clearfix-container {
 *     @include utils-clearfix;
 *   }
 */
@mixin utils-clearfix {
	$selector: &;

	@at-root {
		#{$selector}::before,
		#{$selector}::after {
			display: table;
			content: "";
		}
		#{$selector}::after {
			clear: both;
		}
	}
}

/**
 * 创建一个伪元素来实现垂直居中的效果。
 * 这个 mixin 在当前选择器的根级别创建一个伪元素，该伪元素的高度为100%，
 * 并且通过 vertical-align: middle 来使得内部内容垂直居中。
 *
 * 使用场景：
 *   - 当需要在不知道高度的情况下实现垂直居中。
 *   - 当需要在行内元素或行内块元素中实现垂直居中。
 *
 * 注意：
 *   - 这个 mixin 需要父元素有一个明确的高度或者行高。
 *   - 这个 mixin 只适用于单行内容的垂直居中。
 *
 * @example
 *   .vertical-center-container {
 *     @include utils-vertical-center;
 *   }
 */
@mixin utils-vertical-center {
	$selector: &;

	@at-root {
		#{$selector}::after {
			display: inline-block;
			content: "";
			height: 100%;
			vertical-align: middle;
		}
	}
}

/**
 * 实现文本的省略效果。
 * 这个 mixin 设置了 overflow 为 hidden，text-overflow 为 ellipsis，
 * white-space 为 nowrap，以实现单行文本的溢出省略显示。
 *
 * 使用场景：
 *   - 当需要在有限的空间内显示文本，并且不希望文本换行或者滚动。
 *   - 当需要显示列表项或者表格单元格中的文本，并且希望超出部分显示省略号。
 *
 * 注意：
 *   - 这个 mixin 只适用于单行文本。
 *   - 容器的宽度需要被明确设置或者限制。
 *
 * @example
 *   .ellipsis-text {
 *     @include utils-ellipsis;
 *   }
 */
@mixin utils-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
