@use "sass:math";

// 定义主题色板
$theme-colors: (
	"primary": #e74c3c,
	// "primary": #ee1c25, // R=238  G=28    B=37
	"success": #27ae60,
	"warning": #f39c12,
	"danger": #8e44ad,
	"info": #909399
) !default;

// 定义其它颜色
$special-colors: (
	"text-color": #303133,
	"border-color": #cdd0d6,
	"fill-color": #e6e8eb
) !default;

// 合并两个映射
$colors: map-merge($theme-colors, $special-colors) !default;

:root {
	@each $color-name, $color-value in $colors {
		--gov-#{$color-name}-dark: #{mix(#000, $color-value, 25%)};
		--gov-#{$color-name}: #{$color-value};
		@for $i from 1 through 9 {
			$color-tint: mix(white, $color-value, $i * 10%); // 10% - 90%
			--gov-#{$color-name}-#{$i}: #{$color-tint};
		}
	}
}
