@use "sass:math";

// 定义基本色板
$colors: (
	"primary": #e74c3c,
	"success": #27ae60,
	"warning": #f39c12,
	"danger": #8e44ad,
	"info": #909399,
	"text-color": #303133,
	"border-color": #cdd0d6,
	"fill-color": #e6e8eb
) !default;

:root {
    @each $color-name, $color-value in $colors {
        --gov-#{$color-name}: #{$color-value};
        @for $i from 1 through 3 {
            $percentage: math.div($i * 25, 100); // 计算百分比（25%, 50%, 75%）
            $color-tint: mix(white, $color-value, $percentage * 100%); // 混合颜色
            --gov-#{$color-name}-#{$i}: #{$color-tint};
        }
    }
}
