@use "@/styles/theme.scss" as *;

.gov-card {
	border-radius: var(--gov-border-radius-base);
	border: 1px solid var(--gov-border-color-5);
	background-color: #fff;
	overflow: hidden;
	color: var(--gov-text-color);
	transition: 0.3s;

	&.is-always-shadow {
		box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
	}
	&.is-hover-shadow {
		&:hover,
		&:focus {
			box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
		}
	}

	&__header {
		padding: 15px;
		border-bottom: 1px solid var(--gov-border-color-5);
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-title{
			font-size: 16px;
		}
	}

	&__content {
		padding: 15px;
		font-size: 14px;
	}
}
