@use "@/styles/theme.scss" as *;

.gov-progress {
	position: relative;
	&-circle {
		display: inline-block;
		width: 120px;
		height: 120px;
		&__content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 14px;
			text-align: center;
		}
	}
	&-line {
		width: 100%;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__bar {
			flex: 1;
			background-color: var(--gov-fill-color);
			&-inner {
				transition: all 0.5s;
			}
		}
		&__content {
			font-size: 14px;
			padding-left: 5px;
			min-width: 40px;
		}
	}
}

.gov-progress-fade-enter-from {
	opacity: 0;
}
.gov-progress-fade-enter-active {
	transition: opacity 0.5s ease;
}

.gov-progress-fade-leave-active {
	transition: opacity 0;
	display: none;
}
.gov-progress-fade-leave-to {
	opacity: 0;
	display: none;
}
