@use "@/styles/theme.scss" as *;

.gov-select-option {
	@include utils-user-select(none);
	background: #fff;
	padding: 5px 20px;
	margin: 2px 0;
	cursor: pointer;
	transition: all 0.2s;
	color: var(--gov-text-color);
	&:hover {
		color: var(--gov-primary);
		background: var(--gov-fill-color-5);
	}
	&.is-selected {
		color: var(--gov-primary);
		background: var(--gov-fill-color-5);
	}
	&.is-disabled {
		color: var(--gov-text-color-5);
		cursor: not-allowed;
		&.is-selected {
			color: var(--gov-primary-5);
		}
	}
}
