@use "@/styles/theme.scss" as *;


.gov-select {
	user-select:none;
	&__input {
		cursor: pointer;
		.gov-input-field {
			cursor: pointer;
		}
	}
	&__icon {
		transition: all 0.2s;
		&.is-open {
			transform: rotate(180deg);
		}
	}
	&__box {
		background: #fff;
		box-sizing: border-box;
		min-width: 200px;
		max-height: 300px;
	}
	&.is-disabled {
		.gov-select__input {
			cursor: not-allowed;
			.gov-input-field {
				cursor: not-allowed;
			}
		}
	}
}
